PORT=ingresa tu numero de puerto para levantar el proyecto localmente

MONGODB_CNN=Inresa el enlace de coneccion a la bd proporcionado por mongoDB
SECRET_KEY=Ingresa la llave que quieras para la generacion de los tokensWebServer TWS

GOOGLE_CLIENTE_ID=137088401092-4vj9rsnb9f1vggura3qp46dubunhku0a.apps.googleusercontent.com
GOOGLE_SECRET_ID=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